# Lab 3: List, Tuple, and Dictionary

# Lab Title:  EE-271 “OOP & Data Structures Lab”

# Lab practice

# List:

In [102]:
integers = [3, -5, 12, 0, 7]
print("List of 5 Integers:", integers)

List of 5 Integers: [3, -5, 12, 0, 7]

In [106]:
student = ["Shehwar Muhammad", 505, 3.75, [3.6, 3.7, 4.0, 3.8]]
print("Student Details:", student)

Student Details: ['Shehwar Muhammad', 505, 3.75, [3.6, 3.7, 4.0, 3.8]]

In [108]:
print("Student's CGPA:", student[2])

Student's CGPA: 3.75

In [110]:
print("List Elements:")
index = 0
while index < len(student):
    print(student[index])
    index += 1

List Elements:
Shehwar Muhammad
505
3.75
[3.6, 3.7, 4.0, 3.8]

In [100]:
gpas = student[3]  # List of GPAs
print("Last Semester GPA:", gpas[-1])
print("Last Semester GPA:", gpas[-2])
print("Last Semester GPA:", gpas[-3])
print("Last Semester GPA:", gpas[-4])

Last Semester GPA: 3.8
Last Semester GPA: 4.0
Last Semester GPA: 3.7
Last Semester GPA: 3.6

In [98]:
first_20_integers = list(range(20))
print("First 20 Integers:", first_20_integers)

First 20 Integers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [150]:
odd_integers_20_to_40 = list(range(21, 40, 2))
print("Odd Integers from 20 to 40:", odd_integers_20_to_40)

Odd Integers from 20 to 40: [21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [18]:
students = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]
is_present = "Ibrahim" not in students
is_not_present = "Shehwar" not in students
print("Is 'Ibrahim' in the list?", is_present)
print("Is 'Shehwar' not in the list?", is_not_present)

Is 'Ibrahim' in the list? False
Is 'Shehwar' not in the list? True

In [156]:
print("All Students:")
for student in students:
    print(student)

All Students:
Ibrahim
Husain
Irfan
Ayub
Usman

In [158]:
print("Student List Slices:")
print("Students[1:3]:", students[1:3])
print("Students[2:4]:", students[2:4])

Student List Slices:
Students[1:3]: ['Husain', 'Irfan']
Students[2:4]: ['Irfan', 'Ayub']

In [24]:
my_list = [1, 2, 3]
my_list.append(4)          # a. Append
my_list.extend([5, 6])     # b. Extend
my_list.insert(1, 1.5)     # c. Insert
my_list.remove(2)          # d. Remove
popped_item = my_list.pop()  # e. Pop
print("List after mutations:", my_list)
print("Popped item:", popped_item)

List after mutations: [1, 1.5, 3, 4, 5]
Popped item: 6

In [248]:
# Define the nested list
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

# Access each element using indexing
print("Elements in Nested List:")
print(x[0])  
print(x[1][0])  
print(x[1][1][0])  
print(x[1][1][1])  
print(x[1][2])  
print(x[1][3])  
print(x[2])  
print(x[3][0])  
print(x[3][1])  
print(x[4])

Elements in Nested List:
a
bb
ccc
ddd
ee
ff
g
hh
ii
j

# Tuple:

In [253]:
# Define the tuple
letters = ('a', 'b', 'c', 'd', 'e')
print("Tuple containing first five letters:", letters)

Tuple containing first five letters: ('a', 'b', 'c', 'd', 'e')

In [257]:
# Access the third and last elements
third_element = letters[2]  
last_element = letters[-1]   

print("Third element:", third_element)
print("Last element:", last_element)

Third element: c
Last element: e

In [317]:
# Create a list and a tuple
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

print("Original list:", my_list)
my_list.append(4)  
print("List after appending 4:", my_list)

print("Original tuple:", my_tuple)
try:
    my_tuple[2] = 9  
except TypeError as e:
    print("Error:", e)

Original list: [1, 2, 3]
List after appending 4: [1, 2, 3, 4]
Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment

In [319]:
# Create the tuple
num = (1, 2, 3, 4)
try:
    num[2] = 9  # This will raise an error
except TypeError as e:
    print("Error when trying to modify tuple:", e)

Error when trying to modify tuple: 'tuple' object does not support item assignment

# Dictionary:

# 1  Dictionary Operations

In [574]:
Fd = {
    'one': 'aik',
    'three': 'teen',
    'ten': 'das',
    'fifteen': 'pandra'
}

In [576]:
print("Fd (Dictionary):", Fd)

Fd (Dictionary): {'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [578]:
print("Fd['one']:", Fd['one'])

Fd['one']: aik

In [580]:
print("Fd['ten']:", Fd['ten'])

Fd['ten']: das

In [582]:
del Fd['three']
print("After deleting 'three':", Fd)

After deleting 'three': {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [584]:
print("Length of Fd:", len(Fd))

Length of Fd: 3

In [586]:
print("Keys in Fd:", Fd.keys())

Keys in Fd: dict_keys(['one', 'ten', 'fifteen'])

In [588]:
print("Values in Fd:", Fd.values())

Values in Fd: dict_values(['aik', 'das', 'pandra'])

In [590]:
print("Fd.items():", Fd.items())

Fd.items(): dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [592]:
print("'one' in Fd:", 'one' in Fd)
print("'two' in Fd:", 'two' in Fd)

'one' in Fd: True
'two' in Fd: False

In [594]:
alias['three'] = '3'  
print("Alias after modification:", alias)
print("Original dictionary after alias modification:", Fd)
copy['three'] = '3'   
print("Copy after modification:", copy)
print("Original dictionary after copy modification:", Fd)

Alias after modification: {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}
Original dictionary after alias modification: {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}
Copy after modification: {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}
Original dictionary after copy modification: {'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

# 2 Built-in Dictionary Functions

In [651]:
my_dict = {
    'name': 'Shehwar',
    'age': 18,
    'city': 'Peshawar'
}

In [653]:
print("Original my_dict:", my_dict)
my_dict.clear()        # Clear the dictionary
print("my_dict after clear():", my_dict)

Original my_dict: {'name': 'Shehwar', 'age': 18, 'city': 'Peshawar'}
my_dict after clear(): {}

In [655]:
# b. .get()
my_dict = {
    'name': 'Shehwar',
    'age': 18,
    'city': 'Peshawar'
}
print("Getting 'name' using get():", my_dict.get('name'))
print("Getting 'nonexistent' using get():", my_dict.get('nonexistent'))

Getting 'name' using get(): Shehwar
Getting 'nonexistent' using get(): None

In [657]:
print("Items in my_dict:", my_dict.items())

Items in my_dict: dict_items([('name', 'Shehwar'), ('age', 18), ('city', 'Peshawar')])

In [659]:
print("Keys in my_dict:", my_dict.keys())

Keys in my_dict: dict_keys(['name', 'age', 'city'])

In [663]:
print("Values in my_dict:", my_dict.values())

Values in my_dict: dict_values(['Shehwar', 18, 'Peshawar'])

# List comprehensions:

In [1]:
squares = []
for x in range(10):
    squares.append(x * x)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
squares = [x * x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
squares = [(x + 1) for x in range(10)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
even_squares = [x * x for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [13]:
even_squares = []
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)

print(even_squares)

[0, 4, 16, 36, 64]

<center><span style="color:red; font-size:30px; font-family:timesnewroman; text-decoration:underline; ">Dictionary comprehension: <span></center>

In [3]:
squares_dict = {x: x * x for x in range(5)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [7]:
even_squares_dict = {x:x * x for x in range(10) if x % 2 == 0}
print(even_squares_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# Encouraging:

In [10]:
my_list = ['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

for item in my_list:
    try:
        print(f"Length of {item}: {len(item)}")
    except TypeError:
        print(f"{item} is not a type that has a length.")

Length of spam!: 5
1 is not a type that has a length.
Length of ['Brie', 'Roquefort', 'Pol le Veq']: 3
Length of [1, 2, 3]: 3

In [52]:
import csv
with open(r'C:\Users\Acer\Documents\Result_CSV (1).csv', mode='r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

['Registration No', 'CLO1', 'CLO2', 'CLO3']
['13KTELE0343', '8', '0', '14']
['15KTELE0428', '16.5', '17.5', '20']
['17KTELE0529', '16.5', '26.5', '17']
['17KTELE0535', '14.5', '20.5', '21']
['18JZELE0580', '8', '0', '0']
['18KTELE0560', '13.5', '26', '20']
['18KTELE0562', '27.5', '22.5', '12']
['18KTELE0563', '18', '8.5', '6']
['18KTELE0564', '27', '34', '23']
['18KTELE0565', '20', '27.5', '16']
['18KTELE0566', '19', '25.5', '19']
['18KTELE0567', '25.5', '33.5', '19']
['18KTELE0568', '19', '28', '3']
['18KTELE0569', '8', '7.5', '5']
['18KTELE0570', '15.5', '15.5', '8.5']
['18KTELE0571', '20', '26.5', '14.5']
['18KTELE0572', '25.5', '30', '1']
['18KTELE0573', '22.5', '34', '13']
['18KTELE0574', '20.5', '31', '17']
['18KTELE0575', '18', '32.5', '14']
['18KTELE0576', '21', '28.5', '15']
['18KTELE0577', '26.5', '34.5', '25']
['18KTELE0578', '17', '16.5', '7']
['18KTELE0579', '22.5', '22.5', '10']
['18KTELE0580', '23.5', '22', '21']
['18KTELE0581', '23.5', '26', '19']
['18KTELE0583', '24', '21', '16']
['18KTELE0584', '19', '25', '17']
['18KTELE0585', '17', '23', '18']
['18KTELE0586', '19.5', '27', '18']
['18KTELE0587', '24.5', '30', '21']
['18KTELE0588', '30', '39', '18']

In [56]:
# Reading the CSV as a list
data_list = read_csv_as_list(file_path)
print("CSV as a List:")
for row in data_list:
    print(row)
# Reading the CSV as a list of dictionaries
data_dict = read_csv_as_dict(file_path)
print("\nCSV as a List of Dictionaries:")
for row in data_dict:
    print(row)

CSV as a List:
['Registration No', 'CLO1', 'CLO2', 'CLO3']
['13KTELE0343', '8', '0', '14']
['15KTELE0428', '16.5', '17.5', '20']
['17KTELE0529', '16.5', '26.5', '17']
['17KTELE0535', '14.5', '20.5', '21']
['18JZELE0580', '8', '0', '0']
['18KTELE0560', '13.5', '26', '20']
['18KTELE0562', '27.5', '22.5', '12']
['18KTELE0563', '18', '8.5', '6']
['18KTELE0564', '27', '34', '23']
['18KTELE0565', '20', '27.5', '16']
['18KTELE0566', '19', '25.5', '19']
['18KTELE0567', '25.5', '33.5', '19']
['18KTELE0568', '19', '28', '3']
['18KTELE0569', '8', '7.5', '5']
['18KTELE0570', '15.5', '15.5', '8.5']
['18KTELE0571', '20', '26.5', '14.5']
['18KTELE0572', '25.5', '30', '1']
['18KTELE0573', '22.5', '34', '13']
['18KTELE0574', '20.5', '31', '17']
['18KTELE0575', '18', '32.5', '14']
['18KTELE0576', '21', '28.5', '15']
['18KTELE0577', '26.5', '34.5', '25']
['18KTELE0578', '17', '16.5', '7']
['18KTELE0579', '22.5', '22.5', '10']
['18KTELE0580', '23.5', '22', '21']
['18KTELE0581', '23.5', '26', '19']
['18KTELE0583', '24', '21', '16']
['18KTELE0584', '19', '25', '17']
['18KTELE0585', '17', '23', '18']
['18KTELE0586', '19.5', '27', '18']
['18KTELE0587', '24.5', '30', '21']
['18KTELE0588', '30', '39', '18']

CSV as a List of Dictionaries:
{'Registration No': '13KTELE0343', 'CLO1': '8', 'CLO2': '0', 'CLO3': '14'}
{'Registration No': '15KTELE0428', 'CLO1': '16.5', 'CLO2': '17.5', 'CLO3': '20'}
{'Registration No': '17KTELE0529', 'CLO1': '16.5', 'CLO2': '26.5', 'CLO3': '17'}
{'Registration No': '17KTELE0535', 'CLO1': '14.5', 'CLO2': '20.5', 'CLO3': '21'}
{'Registration No': '18JZELE0580', 'CLO1': '8', 'CLO2': '0', 'CLO3': '0'}
{'Registration No': '18KTELE0560', 'CLO1': '13.5', 'CLO2': '26', 'CLO3': '20'}
{'Registration No': '18KTELE0562', 'CLO1': '27.5', 'CLO2': '22.5', 'CLO3': '12'}
{'Registration No': '18KTELE0563', 'CLO1': '18', 'CLO2': '8.5', 'CLO3': '6'}
{'Registration No': '18KTELE0564', 'CLO1': '27', 'CLO2': '34', 'CLO3': '23'}
{'Registration No': '18KTELE0565', 'CLO1': '20', 'CLO2': '27.5', 'CLO3': '16'}
{'Registration No': '18KTELE0566', 'CLO1': '19', 'CLO2': '25.5', 'CLO3': '19'}
{'Registration No': '18KTELE0567', 'CLO1': '25.5', 'CLO2': '33.5', 'CLO3': '19'}
{'Registration No': '18KTELE0568', 'CLO1': '19', 'CLO2': '28', 'CLO3': '3'}
{'Registration No': '18KTELE0569', 'CLO1': '8', 'CLO2': '7.5', 'CLO3': '5'}
{'Registration No': '18KTELE0570', 'CLO1': '15.5', 'CLO2': '15.5', 'CLO3': '8.5'}
{'Registration No': '18KTELE0571', 'CLO1': '20', 'CLO2': '26.5', 'CLO3': '14.5'}
{'Registration No': '18KTELE0572', 'CLO1': '25.5', 'CLO2': '30', 'CLO3': '1'}
{'Registration No': '18KTELE0573', 'CLO1': '22.5', 'CLO2': '34', 'CLO3': '13'}
{'Registration No': '18KTELE0574', 'CLO1': '20.5', 'CLO2': '31', 'CLO3': '17'}
{'Registration No': '18KTELE0575', 'CLO1': '18', 'CLO2': '32.5', 'CLO3': '14'}
{'Registration No': '18KTELE0576', 'CLO1': '21', 'CLO2': '28.5', 'CLO3': '15'}
{'Registration No': '18KTELE0577', 'CLO1': '26.5', 'CLO2': '34.5', 'CLO3': '25'}
{'Registration No': '18KTELE0578', 'CLO1': '17', 'CLO2': '16.5', 'CLO3': '7'}
{'Registration No': '18KTELE0579', 'CLO1': '22.5', 'CLO2': '22.5', 'CLO3': '10'}
{'Registration No': '18KTELE0580', 'CLO1': '23.5', 'CLO2': '22', 'CLO3': '21'}
{'Registration No': '18KTELE0581', 'CLO1': '23.5', 'CLO2': '26', 'CLO3': '19'}
{'Registration No': '18KTELE0583', 'CLO1': '24', 'CLO2': '21', 'CLO3': '16'}
{'Registration No': '18KTELE0584', 'CLO1': '19', 'CLO2': '25', 'CLO3': '17'}
{'Registration No': '18KTELE0585', 'CLO1': '17', 'CLO2': '23', 'CLO3': '18'}
{'Registration No': '18KTELE0586', 'CLO1': '19.5', 'CLO2': '27', 'CLO3': '18'}
{'Registration No': '18KTELE0587', 'CLO1': '24.5', 'CLO2': '30', 'CLO3': '21'}
{'Registration No': '18KTELE0588', 'CLO1': '30', 'CLO2': '39', 'CLO3': '18'}

# LAB: 3 COMPLETED By NAME: SHEHWAR MUHAMMAD REG NO: 23JZELE0505 SECTI0N: A