# Task 1:

In [1]:
# Step 1: Create the initial list of colors
colors = ['red', 'blue', 'green', 'yellow', 'purple']

# Step 2: Add two more colors
colors.extend(['orange', 'pink'])

# Step 3: Remove the color 'green'
colors.remove('green')

# Step 4: Sort the list alphabetically
colors.sort()

# Print the final list
print(colors)

['blue', 'orange', 'pink', 'purple', 'red', 'yellow']

# Task 2:

In [3]:
# Step 1: Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Step 2: Reverse the list
numbers.reverse()

# Step 3: Find the sum of all the numbers in the list
total_sum = sum(numbers)

# Print the results
print("Reversed list:", numbers)
print("Sum of all numbers:", total_sum)

Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Sum of all numbers: 55

# Task 3:

In [5]:
# Step 1: Create list1 with three items
list1 = ['apple', 'banana', 'cherry']

# Step 2: Create list2 by copying all elements from list1
list2 = list1[:]  # Using slicing to create a new list

# Print the lists
print("list1:", list1)
print("list2:", list2)

list1: ['apple', 'banana', 'cherry']
list2: ['apple', 'banana', 'cherry']

# Task 4:

In [7]:
# Step 1: Create the list of numbers
numbers = [5, 10, 15, 20, 25]

# Step 2: Use slicing to get the first 3 elements
first_three = numbers[:3]

# Step 3: Replace the last two numbers with 100 and 200
numbers[-2:] = [100, 200]  # Replace last two elements

# Print the results
print("First three elements:", first_three)
print("Updated list:", numbers)

First three elements: [5, 10, 15]
Updated list: [5, 10, 15, 100, 200]

# Task 5:

In [9]:
# Step 1: Create the tuple
my_tuple = ('dog', 'cat', 'rabbit', 'hamster')

# Step 2: Access the second element in the tuple
second_element = my_tuple[1]
print("Second element:", second_element)

# Step 3: Convert the tuple into a list
my_list = list(my_tuple)

# Step 4: Modify the list by adding 'bird'
my_list.append('bird')

# Step 5: Convert the list back into a tuple
modified_tuple = tuple(my_list)

# Print the results
print("Modified tuple:", modified_tuple)

Second element: cat
Modified tuple: ('dog', 'cat', 'rabbit', 'hamster', 'bird')

# Task 6:

In [11]:
# Step 1: Create the tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6)

# Step 2: Concatenate t1 and t2 to form a new tuple t3
t3 = t1 + t2

# Step 3: Find the length of t3
length_t3 = len(t3)

# Print the results
print("Concatenated tuple (t3):", t3)
print("Length of t3:", length_t3)

Concatenated tuple (t3): (1, 2, 3, 4, 5, 6)
Length of t3: 6

# Task 7:

In [13]:
# Step 1: Create the tuple
numbers = (5, 10, 5, 20, 5)

# Step 2: Count how many times the number 5 appears in the tuple
count_five = numbers.count(5)

# Step 3: Find the index of the number 20
index_twenty = numbers.index(20)

# Print the results
print("Count of number 5:", count_five)
print("Index of number 20:", index_twenty)

Count of number 5: 3
Index of number 20: 3

# Task 8:

In [25]:
# Step 1: Create the dictionary
person = {"name": "Shehwar", "age": 19, "city": "Peshawar"}

# Step 2: Add a new key "job" with the value "Engineer"
person["job"] = "Engineer"

# Step 3: Update the "age" key to 20
person["age"] = 20

# Step 4: Remove the "city" key
del person["city"]

# Print the updated dictionary
print(person)

{'name': 'Shehwar', 'age': 20, 'job': 'Engineer'}

# Task 9:

In [31]:
# Step 1: Create the dictionary
fruit_prices = {"apple": 100, "banana": 40, "mango": 120}

# Step 2: Print the price of "mango"
print("Price of mango:", fruit_prices["mango"])

# Step 3: Add "orange" to the dictionary with a price of 60
fruit_prices["orange"] = 60

# Step 4: Check if "grapes" is in the dictionary
if "grapes" in fruit_prices:
    print("Grapes are in the dictionary.")
else:
    print("Grapes are not in the dictionary.")
    print("updated fruit prices:",fruit_prices)

Price of mango: 120
Grapes are not in the dictionary.
updated fruit prices: {'apple': 100, 'banana': 40, 'mango': 120, 'orange': 60}

# Task 10:

In [39]:
# Step 1: Create the dictionary
products = {'Laptop': 75000, 'Phone': 45000, 'Tablet': 25000}

# Step 2: Add a new product 'Headphones' with a price of 3000
products['Headphones'] = 3000

# Step 3: Update the price of 'Phone' to 40000
products['Phone'] = 40000

# Step 4: Remove 'Tablet' from the dictionary
del products['Tablet']

# Step 5: Print the total number of products in the dictionary
total_products = len(products)
print("Total number of products:", total_products)
print("updated products:",products)

Total number of products: 3
updated products: {'Laptop': 75000, 'Phone': 40000, 'Headphones': 3000}